bcrypt==3.1.7
tzlocal==1.5.1
unidecode==0.4.21
ruamel.yaml==0.15.34
lxml==4.6.3
requests==2.20.0
irc==16.1
GitPython==3.1.12
fuzzywuzzy==0.15.1
beautifulsoup4==4.6.0
urllib3==1.24.2
pythonwhois==2.4.3
wikipedia==1.4.0
sentry-sdk==0.14.4
python-Levenshtein==0.12.0
block-io==1.1.10
